node_modules
dist
dist-ssr
*.local
.env
.env.*
.DS_Store
build

# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc

# ML Models
yolov8m.pt

# User Uploads
public/uploads/*
!public/uploads/.gitkeep

